<div class="ui grid">
    <div class="three wide column">
        <div id="menu" class="ui left fixed vertical large menu">
            <div class="item">
                <a href="/">
                    <h1 id="title" class="ui massive header">My Pendulum</h1>
                </a>
            </div>
            <div class="item">
                <a href="/tasks">
                    <button id="poppins" class="ui button" style="background-color:transparent; margin-left:-10px">
                        <i class="inbox icon"></i>Inbox
                    </button>
                </a>
                <br>
                <a href="/today">
                    <button id="poppins" class="ui button" style="background-color:transparent; margin-left:-10px">
                        <i class="calendar alternate icon"></i>Today
                    </button>
                </a>
                <a href="next-7-days">
                    <button id="poppins" class="ui button" style="background-color:transparent; margin-left:-10px">
                        <i class="calendar icon"></i>Next 7 days
                    </button>
                </a>

            </div>
            <div class="ui divider"></div>
            <!------------------------------Projects----------------------------------------------------------->
            {{#ui-accordion as |execute|}}
            <div id="poppins" class="title">
                <i class="dropdown icon"></i>
                Projects
            </div>
            <div class="content">
                {{#each model.projects as |project|}}
                <div id="poppins" class="ui link list" style="margin-left:40px">
                    <a class="item">{{project.title}}</a>
                </div>
                {{/each}}

                <div class="ui small fluid input">
                    {{input value=model.project placeholder="Add Project..." id="projectsInput"}}
                </div>
                <br>
                <div class="ui circular small blue animated fade button" {{action "addProject" project}}>
                    <div class="visible content" style="font-family: 'Poppins', sans-serif; font-size: 12px;">
                        <i class="plus icon"></i>Add Project
                    </div>
                    <div class="hidden content">
                        <i class="briefcase icon"></i>
                    </div>
                </div>

            </div>
            <!------------------------------Labels----------------------------------------------------------->
            <div class="ui divider"></div>
            <div id="poppins" class="title">
                <i class="dropdown icon"></i>
                Labels
            </div>
            <div class="content">
                {{#each model.labels as |label|}}
                <div id="poppins" class="ui link list" style="margin-left:40px">
                    <a class="item">{{label.title}}</a>
                </div>
                {{/each}}

                <div class="ui small fluid input">
                    {{input id="labelsInput" value=label placeholder="Add Label..." }}
                </div>
                <br>
                <div class="ui circular small blue animated fade button" {{action "addLabel" label}}>
                    <div class="visible content" style="font-family: 'Poppins', sans-serif; font-size: 12px;">
                        <i class="plus icon"></i>Add Label
                    </div>
                    <div class="hidden content">
                        <i class="tags icon"></i>
                    </div>
                </div>
            </div>
            {{/ui-accordion}}
            <div class="ui divider"></div>
            <div class="ui fluid red animated fade button" style="border-radius:160px;" {{action "addTimer"}}>
                <div id="poppins" class="visible content">
                    <i class="plus icon"></i>Add Timer
                </div>
                <div class="hidden content">
                    <i class="clock icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide column">
        {{outlet}}
    </div>
</div>